table {
    border: solid black 1px;
    border-collapse: separate;
    border-left: solid black 1px;
    border-radius: 10px;
    border-spacing: 0px;
}

th,
td {
    border: 1px solid black;
    text-align: left;

}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #187f6a;
    color: white;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #010101;
}
